<footer class="border-top footer text-muted text-center">
    <div class="container">
        CopyRight &copy; Book Store @DateTime.Now.Year
        @*<a href="mailto:musa.fs.2015@gmail.com">musa.fs.2015@gmail.com</a>*@
        <Custom-email my-email="musa.fs.2015@gmail.com"></Custom-email>
    </div>
</footer>
