
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <img src="~/images/logo.png" class="logo" alt="logo" />
    <img src="~/MyStaticFile/ban.jpg"  alt="ban" />
    <h1>Welcome to book store Application</h1>
    <p>This is the home page of our book store App</p>
    <h1>@DateTime.Now.ToString("dd-M-yyyy")</h1>
    <h2>sum=@(5+3)</h2>
</body>
</html>
