
@section breadcrumb{ 
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">page1</a></li>
            <li class="breadcrumb-item active" aria-current="page">Index</li>
        </ol>
    </nav>
}
<section id="header" class="jumbotron text-center">
    <h1 class="display-3">FOREST</h1>
    <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
    <a href="" class="btn btn-primary">Click</a>
    <a href="" class="btn btn-secondary">Click</a>
</section>

<section id="gallery">
    <div class="container">
       @* <h3 class="h3">Top Books</h3>*@
        <big>Top Books</big>
        <p big>Top Books using attribute</p>
        <div class="row">
            <div class="col-lg-4 mb-4">
                <div class="card">
                    <img src="~/images/noimage.png" alt="" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Sunset</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut eum similique repellat a laborum, rerum voluptates ipsam eos quo tempore iusto dolore modi dolorum in pariatur. Incidunt repellendus praesentium quae!</p>
                        <a href="" class="btn btn-outline-success btn-sm">Read More</a>
                        <a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
@section scripts{
    <script>
        $(document).ready(function () {
           // alert(" document is ready");
        })
    </script>
}

